div .chars {
    border: 1.5px solid black;
    padding: 5px;
    background: linear-gradient(45deg, #FFF, #CCC);
    text-align: center;
    width: 33%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #333;
}
.chars:hover {
    animation: grow .35s cubic-bezier(0,0.66,0.75,1) forwards;
}
h2 {
    font-size: 20px;
}
ul {
    list-style: none;
    /* border: 1px dashed red; */
}
li {
    margin: 3px;
    text-align: center;
    /* border: 1px dashed blue; */
}
@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}